.header {
  position: fixed;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;

  img {
    height: 3rem;
    margin-right: 3rem;
  }
}