<div class="gray">
  <div class="wrapper">
    <div class="companies">
      <h2>Companies</h2>
      <div class="company-container">
        <app-company class="company" logo="assets/img/philips.svg" company-title="Philips" function="Front-end developer" framework="Grav" language="PHP" duration="5 Months"></app-company>
        <app-company class="company" logo="assets/img/politie.svg" company-title="Politie" function="Front-end developer" framework="Ionic" language="JavaScript" duration="1.5 Months"></app-company>
        <app-company class="company" logo="assets/img/kvk.svg" company-title="KvK" function="Front-end developer" framework="React" duration="1 Month"></app-company>
        <app-company class="company" logo="assets/img/kvk.svg" company-title="KvK" function="Front-end developer" framework="Vue" duration="8 Months"></app-company>
      </div>
    </div>
  </div>
</div>
