.shapes {
  &.hero-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 20rem;
  }
}

@keyframes fade-background {
  from {
    backgroud: blue;
  }
  to {
    background: white;
  }
}